<!-- start custom head snippets -->
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7917556/6301972/css/fonts.css" />
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102583563-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-102583563-1');
</script>
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
